<div class="container-fluid">
  <div class="row">
      <h2>Welcome to frontend-starter!</h2>
  </div>
  <div class="row h-100">
    <div class="page">
      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-sm-4">
            <div class="card public">
              <img class="card-img-top" src="assets/watson-cloud.jpg" alt="Card image cap" height="100">
              <div class="card-body">
                <h5 class="card-title text-center">Public Request</h5>
                <p class="card-text">Make a request to the public endpoint
                </p>
                <div class="text-center">
                  <a (click)="getPublic()" class="btn btn-light">Submit</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="card private">
              <img class="card-img-top" src="assets/blockchain-private.jpg" alt="Card image cap" height="100">
              <div class="card-body">
                <h5 class="card-title text-center">Private Request</h5>
                <p class="card-text">Make a request to the private endpoint
                </p>
                <div class="text-center">
                  <a (click)="getProtected()" class="btn btn-primary text-white">Submit</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</div>